Source: haskell-tasty-lua
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Ilias Tsitsimpis <iliastsi@debian.org>
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends: debhelper (>= 10),
 haskell-devscripts (>= 0.13),
 cdbs,
 ghc,
 ghc-prof,
 libghc-quickcheck2-dev (>= 2.9),
 libghc-quickcheck2-dev (<< 2.15),
 libghc-quickcheck2-prof,
 libghc-file-embed-dev (>= 0.0),
 libghc-file-embed-dev (<< 0.1),
 libghc-file-embed-prof,
 libghc-hslua-core-dev (>= 2.0),
 libghc-hslua-core-dev (<< 2.3),
 libghc-hslua-core-prof,
 libghc-hslua-marshalling-dev (>= 2.0),
 libghc-hslua-marshalling-dev (<< 2.3),
 libghc-hslua-marshalling-prof,
 libghc-lua-arbitrary-dev (>= 1.0),
 libghc-lua-arbitrary-dev (<< 1.1),
 libghc-lua-arbitrary-prof,
 libghc-tasty-dev (>= 1.2),
 libghc-tasty-dev (<< 1.5),
 libghc-tasty-prof,
 libghc-tasty-hunit-dev,
 libghc-tasty-hunit-prof,
Build-Depends-Indep: ghc-doc,
 libghc-quickcheck2-doc,
 libghc-file-embed-doc,
 libghc-hslua-core-doc,
 libghc-hslua-marshalling-doc,
 libghc-lua-arbitrary-doc,
 libghc-tasty-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/hslua/hslua
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-tasty-lua
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-tasty-lua]
X-Description: Write tests in Lua, integrate into tasty
 This Haskell package allows users to define tasty tests from Lua.

Package: libghc-tasty-lua-dev
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-tasty-lua-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-tasty-lua-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
